* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0efe7;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    font-size: 4vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    max-width: 100%;
    height: auto;
}

#start{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding-top: 50px;
}

.start-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-image{
    max-width: 80%;
}

.start-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    text-align: center;
}

.start-texts>h1{
    padding-bottom: 5%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10vw;
    font-weight: 500;
    color: #bca682;
}

#my-profession{
    font-size: 9vw;
    font-weight: 500;
}

.start-texts>p{
    padding-bottom: 8%;
    font-family: "Lora",serif;
    color: #282728;
}

.instagram-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    padding: 1em 3em;
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    text-decoration: none;
    background-color: #bca682;
    color: #f0efe7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-linkedin:hover {
    background-color: #005f91;
}

#about-me{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.section-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 9vw;
    font-weight: 500;
    text-align: center;
    color: #bca682;
}

.about-me-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 8%;
    font-family: "Lora", serif;
    text-align: center;
}