* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    font-size: 4vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    max-width: 100%;
    height: auto;
}

#start{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:40px 0;
}

.start-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-image{
    max-width: 70%;
}

.start-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 5% 10%;
    text-align: center;
}

.start-texts>h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 12vw;
    font-weight: 500;
    line-height: 70%;
    color: #282728;
}

#my-profession{
    font-size: 9vw;
    font-weight: 500;
}

.start-texts>p{
    font-family: "Roboto", sans-serif;
    color: #282728;
}

.instagram-button,.linkedin-button,.github-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    height: 6vh;
    width: 70vw;
    text-decoration: none;
    background: #282728;
    color: #f0efe7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.instagram-button,.linkedin-button,.github-button>p{
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    font-weight: 600;
}

.botao-linkedin:hover {
    background-color: #005f91;
}


.triangles-decoration { width: 100%;
    height: 55px;
    background-image: repeating-conic-gradient(from 30deg, #282728 0% 60deg, rgba(245, 245, 245, 0) 0% 120deg);
background-size: 32px 55px;
background-color: rgba(245, 245, 245, 0);   
}

#about-me{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    background-image: linear-gradient(rgba(41, 40, 41, 0.06) 1px, transparent 1px), linear-gradient(to right, rgba(41, 40, 41, 0.06) 1px, transparent 1px);
background-size: 32px 32px;
background-color: rgba(255, 255, 255, 0);
}

.about-me-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 5% 8%;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.section-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 9vw;
    font-weight: 500;
    text-align: center;
    color: #282728;
}

.about-me-texts>p{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: #282728;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.boxes{
    display: flex;
    justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px; /* Espaçamento entre os cartões */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 25vh;
    width: 40vw;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
 }

 .card>p{
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
 }

.spinner {
    display: grid;
    width: 40px;
    height: 40px;
    color: #000000;
    background: radial-gradient(farthest-side, currentColor calc(100% - 4.8px),#0000 calc(100% - 4px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 10.4px),#000 calc(100% - 9.6px));
    border-radius: 50%;
    animation: spinner-sm4bhi 2.8s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    background: linear-gradient(currentColor 0 0) center,
           linear-gradient(currentColor 0 0) center;
    background-size: 100% 8px,8px 100%;
    background-repeat: no-repeat;
 }
 
 .spinner::after {
    transform: rotate(45deg);
 }
 
 @keyframes spinner-sm4bhi {
    100% {
       transform: rotate(1turn);
    }
 }

